data/CHIRLA/

# benchmark/utils/

benchmark/reid/eval_results/
benchmark/reid/embeddings/
benchmark/reid/models/

benchmark/tracking/models/
benchmark/tracking/TrackEval/
benchmark/tracking/data/

# benchmark/extract_metadata.py

*__pycache__/
